//============================
// Media Queries
//============================

// 768px Media Query

@media (min-width: $break-m) {

    .container {
      @include centered;
      max-width: 1400px;
    }
    
    .centered {
      @include centered;
    }
    
    .row {
      flex-direction: row;
    }
    
    [class^=col] {
      display: flex;
      justify-content: center;
      margin-top: 0;
      align-items: center;
    }
    
    [class^=col] + [class^=col] {
      margin-left: $gutter;
    }
    
    @for $i from 1 through 12 {
        .col-#{$i}{
            flex-basis: calc-percentage($i);
        }
    }
    
    .nav {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
    
    .nav-link {
      flex-basis: 100px;
    }
    
    .btn {
      padding: $gutter 30px;
    }
    
    .btn + .btn {
      margin-left: $gutter;
    }
    
    .logo {
      margin-left: initial;
      margin-right: initial;
    }
    
  }
