//=======================
// Navigation
//=======================

.nav {
    @include flex-col;
    padding-left: 0;
    flex-basis: $full;
    .nav-link {
        text-align: center;
        border-radius: 5px;
        padding: 10px 0;
        display: block;
        width: $full;
        transition: 
        background-color .2s ease-in-out, 
          color .2s ease-in-out;
        &:hover {
            color: $white-color;
            background-color: $primary-color;
        }
    }
}


  