//========================
// Typography
//========================

* {
    box-sizing: border-box;
    color: $font-color;
    font-family: $main-font;
}

.headline-primary {
    color: $primary-color;
    margin-left: $gutter;
}

p {
    line-height: 1.45em;
  }
  
a {
    text-decoration: none;
    &.link {
        color: $secondary-color;
        font-weight: $bolded;
    }
  }

.headline-secondary {
    font-weight: $light;
}

.blockquote {
    font-size: 1.5em;
    font-weight: $light;
    font-style: italic;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 8px solid #58e1c1;
    border-radius: 5px;
}
